html body {
  background: rgb(246,228,228);
  background: linear-gradient(180deg, rgba(246,228,228,1) 1%, rgba(167,0,0,1) 100%);
  color: white;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -250px;
  width: 250px;
  background-color: #c40000;
  transition: left 0.3s;
}

.nav-link {
  color: white;
}

.content {
  padding: 20px;
  max-width: 800px;
  transition: margin-left 0.3s;
  margin-left: 0px; /* Adjust this value based on navbar width */
  /* background-color: #DC143C; */
  background-color: #6c0808;
}

#toggleNav {
  z-index: 99999;
  background-color: rgb(57, 0, 0);
}


img {
    width: 200px;
    height: 300px;
}

/* Media query for screens wider than 700px */
@media (min-height: 700px) {
img {
  width: 300px;
  height: 450px;
}
}

@media (min-width: 700px) {
  .navbar {
    left: 0;
  }
  .content {
    margin-left: 250px;
  }
}


.shloka {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-style: italic;
}

.uvacha {
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
}

.teeka-name {
  padding: 10px;
}